.logo {
    display: block;
    margin-left: 40%;
    margin-top: 25%;
}
button {
    margin-top:2%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #CBCBCB;
    color: #F2F2F2;
    text-align: left;
    padding-left: 7%;
 }
